{% extends "blog/base.html" %}

{% block content %}
  <div class="container">
    <h2>About us</h2>
    <p>
      What we want to create now is something that will store all the posts in our blog. But to be able to do that we need to talk a little bit about things called What we want to create now is something that will store all the posts in our blog. But to be able to
       do that we need to talk a little bit about things called. What we want to create now is something that will store all the posts in our blog. But to be able to do that we need to talk a little bit about things called What we want to create now is something that will store all the posts in our blog. But to be able
       to do that we need to talk a little bit about things called  
    </p>
  </div>

{% endblock %}
